/* media */
:root {
    font-size: 16px;
}

/* 피시 */
@media (max-width: 1400px){

}

/* 노트북 */
@media (max-width: 1200px){

    /* main */
    .main-title {font-size: 8em;}
}

/* 타블렛 ipad pro */
@media (max-width: 1024px){
    :root {
        font-size: 14px;
    }

    /* header */
    #header {border-bottom: 0;}
    #header .nav ul {display: none}
    #header .logo {margin: 1rem}
    #header .port em {border-right: 0;}

    /* main */
    .main-title {font-size: 6em;}
}

/* 타블렛 ipad */
@media (max-width: 768px){
    :root {
        font-size: 12px;
    }
    /* header */
    #header .port {
        position: fixed;
        bottom: 0; left: 0;
        width: 100%;
        border-top: 1px solid var(--border-dark);
    }
    #header .port em {
        width: auto;
        height: auto;
        margin: 1rem;
    }
    #header .logo {
        width: 100%;
        flex: 0 0 100%;
        
    }
    #header {
        border-bottom: 1px solid var(--border-dark);
    }
    /* main */
    .main-title {font-size: 3em; line-height: .45;}
}

/* 핸드폰 iPhone */
@media (max-width: 480px){
    
}

/* 핸드폰 iPhone5 */
@media (max-width: 320px){
    :root {
        font-size: 10px;
    }
    /* main */
    .main-title {font-size: 2em; line-height: .25;}
}

/* 핸드폰 Galaxy fold */
@media (max-width: 280px){
    
}