/* media */
@media (min-width: 1400px){
    :root {font-size: 16px;}
}
@media (max-width: 1400px){

}
@media (max-width: 1200px){
    .main-title {font-size: 8em;}
}
@media (max-width: 1024px){
    :root {font-size: 14px;}

    /* header */
    #header .port {flex-basis: 20%;}
    #header .logo {flex-basis: 60%;}
    #header .nav {display: none;}
    #header .mNav {
        flex-basis: 20%; display: block;
        text-align: right;
    }
    .main-title {font-size: 6em;}
}
@media (max-width: 768px){
    :root {font-size: 12px;}
    .main-title {
        font-size: 6em;
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 600px){
    /* header */
    #header .port {
        position: fixed; left: 0; bottom: 0; 
        width: 100%;
        text-align: center;
        border-top: 1px solid var(--border-dark);
        padding: 1rem;
    }
    #header .logo {flex-basis: 100%;}
    #header .mNav {
        position: absolute; 
        left: 0px;
        top: 0px;
        margin: 1.5rem
    }
    .main-title {
        font-size: 4em;
    }
}
@media (max-width: 480px){
    .main-title {
        font-size: 3em;
    }
}
@media (max-width: 320px){
    :root {font-size: 10px;}
}
@media (max-width: 280px){
    
}