/* header */
#header {
    position: fixed; 
    left: 0; top: 0; 
    width: 100%;
    border-bottom: 1px solid var(--border-black);
    background: var(--main-black);
    color: var(--font-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    z-index: 10000;
}
#header .port {
    flex: 1 1 30%;
}
#header .port em {
    width: 175px;
    height: 82px;
    border-right: 1px solid var(--border-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .port em a {
    position: relative;
    text-align: center;
    font-family: var(--font-sub);
    padding: 10px 10px 10px 50px;
    font-size: 16px;
    line-height: 1;
}
#header .port em a::before {
    content: '';
    position: absolute;
    left: 10px; 
    bottom: 13px;
    width: 30px;
    height: 1px;
    background: var(--font-black)
}
#header .port em a::after {
    content: '';
    position: absolute;
    left: 10px; 
    top: 12px;
    width: 30px;
    height: 1px;
    background: var(--font-black)
}
#header .logo {
    flex: 1 1 30%;
    text-align: center;
}
#header .logo a {
    font-family: var(--font-title);
    font-size: 1.875rem;
    padding: 3px 20px 5px 20px;
    text-transform: lowercase;
}
#header .nav {
    flex: 1 1 30%;
    text-align: right;
}
#header .nav ul {
    margin-right: 20px;
}
#header .nav li {
    display: inline;
}
#header .nav li a {
    display: inline-block;
    padding: 8px 5px 5px 5px;
    font-family: var(--font-sub), var(--font-kor);
    font-size: 16px;
    line-height: 1;
}
#header.white {
    background-color: var(--main-white);
    border-bottom: 1px solid var(--border-white);
}
#header.white .port em {
    border-right: 1px solid var(--border-white);
}
#header.white .port em a {
    color: var(--font-white);
}
#header.white .logo a {
    color: var(--font-white);
}
#header.white .nav li a {
    color: var(--font-white);
}
#header.white .port em a::before {
    background: var(--font-white);
}
#header.white .port em a::after {
    background: var(--font-white);
}

/* mainCont */
#mainCont {
    background-color: var(--main-black);
    height: 100vh;
    color: var(--font-white);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding-top: 82px;
}
.main-cont {
    color: var(--font-black);
    font-size: 11.250rem;
    line-height: .75;
}
.main-cont div {
    margin-bottom: 10px;
    font-family: var(--font-main);
    padding-top: 23px;
    color: #000;
}