/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-dark);
}
#header .port {
    flex: 1 1 35%;
    padding-left: 1rem;
}
#header .port em {
    position: relative;
}
#header .port em a {
    font-family: 'Rajdhani', 'Chosunilbo_myungjo';
    text-transform: capitalize;
    padding: 10px 10px 10px 50px;
}
#header .port em a::before {
    content: '';
    position: absolute;
    left: 10px; 
    bottom: 13px;
    width: 30px;
    height: 1px;
    background: var(--font-dark)
}
#header .port em a::after {
    content: '';
    position: absolute;
    left: 10px; 
    top: 13px;
    width: 30px;
    height: 1px;
    background: var(--font-dark)
}
#header .logo {
    flex: 1 1 30%;
    text-align: center;
    margin: 1.5rem;
    vertical-align: baseline;
    font-family: 'Playfair Display';
}
#header .logo a {
    font-size: 2rem;
    line-height: 1;
}
#header .nav {
    flex: 1 1 35%;
    text-align: right;
    padding-right: 1rem;
}
#header .nav ul {
}
#header .nav li {
    display: inline-block;
}
#header .nav li a {
    font-family: 'Rajdhani', 'Chosunilbo_myungjo';
    padding: 3px;
}
#header .mNav {
    display: none;
    padding-right: 1rem;
}
#header .mNav a {
    font-family: 'Rajdhani', 'Chosunilbo_myungjo';
    text-transform: capitalize;
    padding: 10px 10px 10px 10px;
}

/* mainCont */
#mainCont {
    background-color: var(--bg-dark);
    height: 100vh;
    color: var(--font-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5.125rem;
}
.main-cont {
    color: var(--font-dark);
}
.main-cont div {
    font-family: var(--font-main);
}

/* main-title 공통요소 */
.main-title {
    font-size: 11.250em;
    line-height: .75;
    letter-spacing: -.0275em;
}