@charset "UTF-8";

/* 기본 값 및 변수 선언하기 */
:root {
    --font-sub: 'Rajdhani';
    --font-title: 'Playfair Display';
    --font-main: 'Saol Display Regular';
    --font-kor: 'Chosunilbo_myungjo';
    
    --bg-dark: #030406;
    --bg-light: #f0eeeb;

    --border-light: #DAD8D1;
    --border-dark: #2e2e30;
    
    --font-light: #000;
    --font-dark: #fff;
}
