@charset "UTF-8";

/* header */
#header {
    position: fixed; 
    left: 0; top: 0; 
    width: 100%;
    height: 82px;
    border-bottom: 1px solid #2e2e30;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
#header .port {
    flex: 1 1 30%;
}
#header .port em {
    width: 175px;
    height: 82px;
    border-right: 1px solid #2e2e30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .port em a {
    position: relative;
    text-align: center;
    font-family: 'Rajdhani';
    padding: 10px 10px 10px 50px;
}
#header .port em a::before {
    content: '';
    position: absolute;
    left: 10px; 
    bottom: 13px;
    width: 30px;
    height: 1px;
    background: #fff
}
#header .port em a::after {
    content: '';
    position: absolute;
    left: 10px; 
    top: 12px;
    width: 30px;
    height: 1px;
    background: #fff
}
#header .logo {
    flex: 1 1 30%;
    text-align: center;
}
#header .logo a {
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
    padding: 3px 20px 5px 20px;
    text-transform: lowercase;
}
#header .nav {
    flex: 1 1 30%;
    text-align: right;
}
#header .nav ul {
    margin-right: 20px;
}
#header .nav li {
    display: inline;
}
#header .nav li a {
    display: inline-block;
    padding: 8px 5px 5px 5px;
    font-family: 'Rajdhani', 'Chosunilbo_myungjo', sans-serif;
}

/* mainCont */
#mainCont {
    height: 100vh; 
    background-color: #000; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 82px;
}
.main-text {
    color: #fff;
    font-size: 150px;
    line-height: 130px;
}
.main-text div {
    background: #ccc;
    margin-bottom: 10px;
    font-family: "Saol Display Regular";
    padding-top: 23px;
}
.main-text.white {
    background-color: #fff;
    color: #000;
    display: inline-block;
}
