@charset "UTF-8";

/* container */
.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

/* header */
#header {
    position: fixed; 
    left: 0; top: 0; 
    width: 100%;
    height: 82px;
    border-bottom: 1px solid #2e2e30;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    z-index: 10000;
}
#header .port {
    flex: 1 1 30%;
}
#header .port em {
    width: 175px;
    height: 82px;
    border-right: 1px solid #2e2e30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .port em a {
    position: relative;
    text-align: center;
    font-family: 'Rajdhani';
    padding: 10px 10px 10px 50px;
    font-size: 16px;
    line-height: 1;
}
#header .port em a::before {
    content: '';
    position: absolute;
    left: 10px; 
    bottom: 13px;
    width: 30px;
    height: 1px;
    background: #fff
}
#header .port em a::after {
    content: '';
    position: absolute;
    left: 10px; 
    top: 12px;
    width: 30px;
    height: 1px;
    background: #fff
}
#header .logo {
    flex: 1 1 30%;
    text-align: center;
}
#header .logo a {
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
    padding: 3px 20px 5px 20px;
    text-transform: lowercase;
}
#header .nav {
    flex: 1 1 30%;
    text-align: right;
}
#header .nav ul {
    margin-right: 20px;
}
#header .nav li {
    display: inline;
}
#header .nav li a {
    display: inline-block;
    padding: 8px 5px 5px 5px;
    font-family: 'Rajdhani', 'Chosunilbo_myungjo', sans-serif;
    font-size: 16px;
    line-height: 1;
}
#header.white {
    background-color: #F0EEEB;
    border-bottom: 1px solid #DAD8D1;
}
#header.white .port em {
    border-right: 1px solid #DAD8D1;
}
#header.white .port em a {
    color: #000;
}
#header.white .logo a {
    color: #000;
}
#header.white .nav li a {
    color: #000;
}
#header.white .port em a::before {
    background: #000;
}
#header.white .port em a::after {
    background: #000;
}


/* mainCont */
#mainCont {
    height: 100vh; 
    background-color: #000; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 82px;
    white-space: nowrap;
}
.main-cont {
    color: #fff;
    font-size: 180px;
    line-height: 130px;
}
.main-cont div {
    margin-bottom: 10px;
    font-family: "Saol Display Regular";
    padding-top: 23px;
}

/* portCont */
#portCont {
    background-color: #000;
}
.port-cont {
    color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 200px;
}
.port-cont .port {
    flex: 0 0 32%;
    margin-bottom: 2%;
}
.port-cont .port .port-text {
    padding: 35px;
    background: #151517;
}
.port-cont .port .port-text h2 {
    font-family: "Saol Display Regular";
    font-size: 50px;
}
.port-cont .port .port-text p {
    font-size: 16px;
    color: #B0AEAD;
    font-family: 'Rajdhani';
    padding-top: 10px;
}

/* aboutCont */
#aboutCont {
    background-color: #F0EEEB;
    padding-bottom: 200px;
}
.about-cont {}
.about-cont .about {
    margin-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-cont .about.center .about-img {
    flex: 0 0 100%;
}
.about-cont .about.center .about-txt {
    flex: 0 0 100%;
}
.about-cont .about.center .about-txt h2 {
    margin-top: 50px;
}
.about-cont .about.left .about-img {
    flex: 0 0 64%;
}
.about-cont .about.left .about-txt {
    flex: 0 0 30%;
}
.about-cont .about.right {
    flex-direction: row-reverse;
}
.about-cont .about.right .about-img {
    flex: 0 0 54%;
}
.about-cont .about.right .about-txt {
    flex: 0 0 40%;
}

.about-cont .about .about-img {}
.about-cont .about .about-txt {
    font-family: 'Chosunilbo_myungjo';
    font-size: 18px;
}
.about-cont .about .about-txt h2 {
    margin: 0 0 40px;
    font-size: 26px;
}
.about-cont .about .about-txt p {
    line-height: 1.6;
    font-size: 16px;
}

/* referCont */
#referCont {
    background-color: #F0EEEB;
}
.refer-cont {
    padding-bottom: 200px;
}
.refer-cont .refer-title {}
.refer-cont .refer-title li {
    display: inline;
    font-family: 'Rajdhani';
    
}
.refer-cont .refer-title li a {
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #222;
    border-radius: 5px;
    margin-bottom: 20px;
}
.refer-cont .refer-title li.active a {
    background: #000;
    color: #fff;
}
.refer-cont .refer-table {
    border-bottom: 2px solid #000;
}
.refer-cont .refer-table li {
    margin: 0;
    list-style: none;
    border-top: 1px solid #000;
    position: relative;
    transition: all 0.3s;
}
.refer-cont .refer-table li:hover {
    background: rgba(0,0,0,0.081);
}
.refer-cont .refer-table li span {
    display: inline-block;
    padding: 21px 0;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light';
    box-sizing: border-box;
}
.refer-cont .refer-table li span.alpha {
    position: absolute; left: 0; top: 0;
}
.refer-cont .refer-table li span.attr {
    padding-left: 10%;
    width: 35%;
}
.refer-cont .refer-table li span.desc {
    width: 64.5%;
}

/* youtubeCont */
#youtubeCont {
    background-color: #F0EEEB;
}

/* scriptCont */
#scriptCont {
    background-color: #F0EEEB;
}

/* contactCont */
#contactCont {
    height: 100vh;
    background-color: #000;
}
.contact-cont {
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.contact-cont div {
    font-size: 100px;
    font-family: "Saol Display Regular";
    font-weight: normal;
    padding-top: 1.6vw;
    text-transform: uppercase;
    color: #fff;
    font-size: 180px;
    line-height: 130px;
}
/* contact-info */
#contactFooter {
    position: fixed; 
    left: 0; bottom: 0;
    width: 100%;
    height: 82px;
    border-top: 1px solid #2E2E30; 
    color: #fff; 
    background: #000;
}
.contact-info {
    font-family: 'Rajdhani';
    
}
.contact-info > div {
    float: left; height: 82px; 
    text-align: center; font-weight: 300; 
    padding-top: 30px;
    text-transform: capitalize;
}
.contact-info a {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}
.contact-info > div:nth-child(1){ width: 25%; border-right: 1px solid #2E2E30;}
.contact-info > div:nth-child(2){ width: 25%; border-right: 1px solid #2E2E30;}
.contact-info > div:nth-child(3){ width: 50%;}
.contact-info > div ul {display: inline;}
.contact-info > div li {display: inline;}
.contact-info > div li a {
    padding: 0 1rem;
}
.contact-info > div span:nth-child(1) {margin-right: 1.5rem; color: #787878;}


/* signUpCont */
#signUpCont {
    height: 100vh;
    background: #000;
}
.signUpCont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-family: 'Chosunilbo_myungjo';
    color: #fff;
}
.signUpCont h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.signUpCont h1 strong {
    font-weight: normal;
    display: block;
}
.signUpCont .input-text {
    border: 1px solid #fff;
    background: #000;
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Chosunilbo_myungjo';
}
.signUpCont .signUpBtn {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 15px;
    border: 0;
    margin: 10px 0;
    font-family: 'Chosunilbo_myungjo';
}
.signUpCont .signDesc {
    text-align: center;
}
.signUpCont .signDesc a {
    text-decoration: underline
}
.signUpCont .birth {
    display: flex;
    justify-content: space-between;
}
.signUpCont .birth > div {
    flex: 0 0 30%;
    text-align: center
}
.signUpCont .birth > div label {
    display: inline-block;
    margin-bottom: 10px;
}
.signUpCont .birth > div select {
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    font-family: 'Chosunilbo_myungjo';
}


/* boardCont */
#boardCont {
    background-color: #F0EEEB;
}
.board-title {
    padding: 200px 0 50px 0;
    font-size: 30px;
    font-family: 'S-CoreDream-3Light';
}
.board-cont {
    padding-bottom: 200px;
}
.board-cont .table-search {
    display: flex;
    flex-direction: row-reverse;
}
.board-cont .table-search .form-search {
    display: inline-block;
    border: 1px solid #000;
    font-size: 16px;
    padding: 10px 16px 8px 16px;
    border-radius: 5px;
    background: transparent;
    margin-left: 5px;
    font-family: 'S-CoreDream-3Light';
}
.board-cont .table-search .form-select {
    display: inline-block;
    border: 1px solid #000;
    font-size: 16px;
    padding: 10px 16px 8px 16px;
    border-radius: 5px;
    background: transparent;
    margin-left: 5px;
    font-family: 'S-CoreDream-3Light';
}
.board-cont .table-search .form-btn {
    display: inline-block;
    border: 1px solid #000;
    font-size: 16px;
    padding: 10px 16px 8px 16px;
    border-radius: 5px;
    background: transparent;
    margin-left: 5px;
    background: #000;
    color: #fff;
    font-family: 'S-CoreDream-3Light';
}
.board-cont .table-search .btn-write {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: 1px;
    font-family: 'S-CoreDream-3Light';
}
.board-cont .table-board table {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 20px;
    font-family: 'S-CoreDream-3Light';
}
.board-cont .table-board .table td,
.board-cont .table-board .table th {
    border-top: 1px solid #000;
    padding: 1.2rem;
    text-align: center;
    font-size: 16px;
}
.board-cont .table-board .table th {
    background: rgba(0, 0, 0, 0.04);
}
.board-cont .table-board .table td:nth-child(2) {
    text-align: left;
}
.board-cont .table-page .pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.board-cont .table-page .pagination li.active a {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}
.board-cont .table-page .pagination li a {
    display: block;
    padding: .8rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #bebebe;
}
.board-cont .btn-list {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;
    float: right;
    margin-top: 20px;
}

/* title-wrap : 공통 */
.title-wrap {
    padding: 300px 0 250px 0;
}
.title-wrap h1 {
    color: #fff;
    font-size: 200px;
    line-height: 170px;
    font-family: "Saol Display Regular";
    text-transform: uppercase;
}
.title-wrap h1 strong {
    display: block;
}
.title-wrap.white h1 {
    color: #000;
}


/* footer : 공통 */
#footer {
    background: #000;
    height: 100vh;
}
.footer {
    height: 100vh;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.footer p {
    color: #fff;
    font-family: 'Rajdhani';
    font-size: 18px;
    margin-bottom: 60px;
}
.footer h3 {
    color:#fff;
    font-family: "Saol Display Regular";
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    margin-bottom: 8vh;
}
.footer .contact {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 45px;
    padding: 20px 60px;
    font-size: 20px;
    font-family: 'Rajdhani';
}